
.contacto {
   align-items: center;
   text-align: center; 
   font-size: 40px;
}

.contacto img{
    width: 4%;
}

.section footer{
    font-size: 13px;
}

#logo-flecha{
    width: 2.5%;
}

.section{
    border: solid #b6b6b6;
    border-radius: 10px;
    background-color: #b6b6b6;
    text-align: center;
    
}
.section .contacto{
    text-align: center;
    align-items: center;
}
.section .redes{
    text-align: center;
    align-items: center;
}
.redes{
    word-spacing: 5rem;
}

iframe{
    width:95%; 
    height:320px;
    padding: 10px;
    border: 0;
}