body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    font-size: 1.2rem; /* tamaño de fuente*/
    line-height: 1.4em;/*interlineado*/
    margin: 0;
}

.logo {
    border-radius: 50%;
}

p{
    margin-bottom: 1.6em;
}

.container{
    width: 85%; /*porcentaje de ocupacion de la pagina*/
    max-width: 850px; /*ancho maximo de la clase*/
    margin: 0 auto; /*quita margenes arriba y abajo, y los laterales son automaticos para que quede centrado*/
    
}

.container nav{
    text-align: center;
}

.header-fix{
    background: #333 ;
    color: white;
    padding: 2rem 0;

    position: fixed; /*Fijar posición del elemento header, esto lo deja flotante por lo que debemos decirle cual es la posición, a su vez se superpone con el contenido*/
    left: 0;
    top: 0;
    right: 0;
}

.title-container h1{
    font-size: 70px;
}

.menu-icon{
    display: none;
}
.menu{
    display: none;
}


.logo-nav-container{
    display: flex;
    justify-content: space-between; /*Con esto hacemos que los elementos que están como felx se vayan a la izq y der*/
    /*Logramos que el logo vaya a la izq, el titulo al centro y el nav a la der*/
    align-items: center; 

    flex-wrap: wrap;/*Esto es para que si un elemento no le permite estar al lado del otro, que lo pase para abajo*/

}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation ul li{
    display: inline-block;
}

.navigation ul li a{
    display: block;
    padding:  0.5rem 1rem;
    transition: all 0.4s linear; /*damos animación*/
    border-radius: 5px;
}

.navigation ul li a:hover{/*cambiamos el color del fondo cuando pasamos por encima del boton*/
    background: #4a4a4a;
}
.header-fix a{ /*le damos formato a los a que están dentro de la clase header.fix*/
    color: white;
    text-decoration: none;
}

.main{
    padding: 20rem 0 5rem 0; /*este padding lo hago porque al fijar la cabecera, se me superpone con el contenido, entonces se baja*/
}
.main p{
    text-align: justify;
}

.table{
    width: 100%;
;
}
.table tr{
    text-align: center;
    height: 140px;
}
.table td{
    text-align: center;
    width: 140px;
}
.table img{
    width: 70%;
    height: 70%;
}

.vertical{
    display: none;
}

.horizontal{
    display: block;
}


.footer{
    background: #333;
    padding: 2rem 0;
    text-align: center;
    color: white;
    margin-top: 1rem;
}
.footer h5{
    text-align: left;
}

.footer form fieldset{
    text-align: center;
}
.footer form fieldset legend{
    text-align: left;
}
textarea{
    border-radius: 5px;
    width: 50%;
    height: 10em;
}
input{
    width: 50%;
    border-radius: 5px;
 }

 .formulario{
    align-items: center;
    width: auto;
    margin: 0;
    padding: 0;
 }
 .formulario label{
    font-size: 13px;
 }
 #btnEnviar{
    font-weight: bold;
    padding: 10px;
 }


 @media only screen and (max-width: 921px){
    .title-container h1{
        font-size: 50px;
    }
 }


@media only screen and (max-width: 770px){
    
    .logo {
        text-align: center;
    }
    
    .menu-icon{
        display: block;
        padding: 0.5rem 1rem;
        border-radius: 20%;
        width: 35px;
        height: 35px;

        background-color: white;
        
    }

    .navigation{
        width: 100%;
        margin-top: 1rem;
    }

    .navigation ul{
        display: none;
    }

    .navigation ul.show{
        display: block;
    }

    .navigation ul li{
        display: block;
    }
    
    .navigation ul li a{
        display: block;
        padding:  0.5rem 0;
        transition: all 0.4s linear; /*damos animación*/
        border-radius: 5px;
    }
    
    .navigation ul li a:hover{/*cambiamos el color del fondo cuando pasamos por encima del boton*/
        background: #4a4a4a;
    }
    
    
    .title-container h1{
        font-size: 30px;
    }


    .vertical{
        display: block;
    }
    
    .horizontal{
        display: none;
    }
}